<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="tv5" class="com.springbook.biz.polymorphism5.SamsungTV" >
		<property name="speaker" ref="apple5"></property>
		<property name="price" value="599999"></property>
	</bean>
	<bean id="apple5" class="com.springbook.biz.polymorphism5.AppleSpeaker" />
</beans>
