<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
<!-- /* 오승필/202184-010073 */ -->
  	<!--  한글 처리를 위한 인코딩 설정 Start -->
  	<filter>
		<filter-name>characterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>EUC-KR</param-value>
		</init-param>
	</filter>
	<!--모든 클라이언트의 "*.do"요청에 대해서 CharacterEncofingFilter 객체가 일괄적으로 한글을 처리 Start -->
	<filter-mapping>
		<filter-name>characterEncoding</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<!--모든 클라이언트의 "*.do"요청에 대해서 CharacterEncofingFilter 객체가 일괄적으로 한글을 처리 End -->
	<!--  한글 처리를 위한 인코딩 설정 End -->
	<!-- Spring MVC 설정 파일 생성 Start --> 
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- Spring MVC 설정 파일 생성 End -->
</web-app>